<!DOCTYPE html>
<html>
 <head>
    <title> <%= title %></title>
   <%= csrf_meta_tag %>
   <%= stylesheet_link_tag 'Bootstrap from Twitter/bootstrap-1.2.0', :media => 'screen' %>
   <%= stylesheet_link_tag 'Bootstrap from Twitter/bootstrap-1.2.0', :media => 'print' %>
 </head>
<body>

	<br>
   	<div class="topbar">
      <div class="fill">
        <div class="container">
          <h3><a href="index.html">CloudCamp</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="technology.html">Pittsburgh</a></li>
            <li><a href="contact.html">Registration</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>





<%= yield %>

</body>
</html>
